.app_dark_theme {
  --bg-color: #68687c;
  --inverted-bg-color: #ceced3;
  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #4b5a87;
  --inverted-secondary-color: #0b309e;
}
