:root {
    --bg-color: #ceced3;
    --inverted-bg-color: #68687c;

    --primary-color: #4b5a87;
    --secondary-color: #0b309e;

    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
